@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1f244d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #8bcf17;
}

a {
  @apply hover:text-[var(--main-color)] duration-300;
}
.custom-btn-outline {
  @apply bg-[var(--main-color)] text-white py-1 px-2 rounded-lg border-2 border-[var(--main-color)] hover:bg-transparent hover:text-[var(--main-color)] duration-500;
}

.nav-item {
  @apply font-bold;
}

.active-item {
  @apply border-b-2 border-[var(--main-color)] text-[var(--main-color)];
}

.custom-card {
  @apply p-2 border-2  rounded flex flex-col duration-500;
}

.custom-card:hover {
  @apply bg-slate-200 scale-105 border-[var(--main-color)];
}

/* ============================ Start Hero Section Background Shape ============================ */
.hero-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.hero-shape svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 95px;
}

/* ============================ End Hero Section Background Shape ============================ */

/* ============================ Start Feedback Section Background Shape ============================ */
.feedback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.feedback svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 95px;
}

/* ============================ End Feedback Section Background Shape ============================ */

.hero-shape .shape-fill,
.feedback .shape-fill {
  fill: #ffffff;
}
